---
import PageLayout from '../layouts/BaseLayout.astro'
import ProjectCard from '../components/ProjectCard.astro'
import HomeSection from '@/components/HomeSection.astro'
---

<PageLayout meta={{ title: 'home' }}>
	<div class='flex w-full flex-col gap-y-10'>
		<HomeSection>
			<p class='text-muted-foreground'>
				Hello there! Welcome to my Website. My name is Rafael Chacón. I'm a Software Engineer. What
				kind of Software Engineer?
				<b>The shortest answer is that I mostly move bytes around without people noticing.</b>
				Currenlty, I'm working at
				<a href='https://www.figma.com' class='link-style' target='_blank'> Figma. </a>
				<p>
					In this website you can find some info about my work and some of my personal interests.
					Reach out if you want to connect!
				</p>
			</p>
		</HomeSection>
		<div class='my-4 w-full border-t border-gray-300 md:hidden'></div>
		<!-- Visible on small screens -->

		<HomeSection>
			<div class='text-xl font-semibold md:w-1/3'>
				<!-- H2 title for the second section -->
				<h2 class='mb-4 text-2xl font-bold'>Personal projects</h2>
				<!-- Content of second section -->
			</div>
			<div class='flex flex-col gap-y-3'>
				<p class='text-muted-foreground'>
					Below some projects I've worked recently that I'm particularly passioned about. Some are
					personal, others are some outside work technical contributions.
				</p>
			</div>

			<div class='flex flex-col gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0'>
				<ProjectCard
					href='https://www.codeforvenezuela.org/'
					heading='Code For Venezuela'
					subheading='Leveraging technology to support Venezuela'
					imagePath='/src/assets/c4vcover.jpeg'
					altText='C4V'
					class='w-full sm:w-1/2'
					imageClass='object-contain object-center'
				/>
				<ProjectCard
					as='div'
					heading='Coming soon...'
					subheading=''
					imagePath='/src/assets/coming-soon.png'
					altText='Lorem, ipsum dolor sit'
					class='w-full sm:w-1/2'
				/>
			</div>
		</HomeSection>
	</div>
</PageLayout>
